.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;
    padding: 10px;
}

.card {
    position: relative;
    width: 513.85px;
    height: 910px;
    left: 0px;
    top: 10px;
    padding: 155px;
    margin: 58px;
    background: #8B66B6;
    border-radius: 15px;

}

.title {
    position: absolute;
    width: 440.44px;
    background: #D9D9D9;
    border-radius: 15px;
    left: 36.71px;
    top: 10px;
    padding: 5px;
}

.title h3 {
    position: absolute;
    width: 74.5px;
    height: 33.94px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;

    color: #000000;
}

.cardConteudo {
    position: absolute;
    width: 440.44px;
    left: 36.71px;
    top: 180px;
    border-radius: 15px;
    background: hsla(0, 1%, 27%, 0.2);

}

.cardConteudo p {
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height: 23px;
    color: #0c0c0c;
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .card {
        width: 100px;
        height: 1190px;    

    }

    .title {
        width: 100%;
        left: 0px;
    }

    .cardConteudo {
        width: 100%;
        left: 0px;
        height: 60%;
        margin-top: -50px;
    }
    .cardConteudo p {
        margin-top: 29px;
        padding: 5px;
    }
}