.card {
    position: relative;
    width: 463px;
    height: 310px;
    top: 110px;
    left: 25px;
    background: hsla(0, 0%, 100%, 0.2);
    border: 1px solid #8B66B6;
    box-sizing: border-box;
    border-radius: 15px;
}

.card .title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    line-height: 35px;
}

.text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height: 23px;
    color: #0c0c0c;
}

.cardImgLeft {
    position: relative;
    width: 455px;
    height: 395px;
    left: 604px;
    top: -95px;

}

.cardImgLeft img {
    width: 100%;
    height: 100%;
    border-radius: 77px;
}

.card2 {
    position: relative;
    width: 1105px;
    height: 104px;
    left: 25px;
    top: 65px;
    border-radius: 15px;
    background: #8B66B6;
}

.card2 .title2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    line-height: 35px;
    color: #0c0c0c;
    padding: 18px;
    font-weight: 900;
}

.card2Content {
    position: relative;
    width: 963px;
    top: 120px;
    height: 620px;
    left: 385px;
    padding: 35px;
    padding-top: 150px;
    margin-top: 15px;
    margin-bottom: 750px;

    background: hsla(0, 0%, 100%, 0.2);
    border: 1px solid #8B66B6;
    box-sizing: border-box;
    border-radius: 15px;

}

.card2 .text2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height: 23px;
    color: #0c0c0c;

    background: #c7b3dd;
    mix-blend-mode: darken;
    box-shadow: inset 15px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 768px) {
    .card {
        position: absolute;
        width: 324px;
        left: 25px;
        top: 73px;
        margin: 0 auto;
        border: 1px solid #8B66B6;
    }

    .cardImgLeft {
        position: absolute;
        width: 300px;
        height: 300px;
        left: 25px;
        top: 410px;
        border-radius: 77px;
    }

    .cardImgLeft img {
        width: 100%;
        height: 100%;
        border-radius: 77px;
        object-fit: cover;
    }

    .card2 {
        position: absolute;
        width: 100%;
        height: 50%;
        left: 0px;
        top: 760px;
    }

    .card2Content {
        position: relative;
        width: 363px;
        top: 110px;
        height: 1120px;
        left: 0px;
        background: hsla(0, 47%, 51%, 0.2);
        border: 1px solid #8B66B6;
        box-sizing: border-box;
        border-radius: 15px;
        margin-bottom: 150px;
        margin-top: 150px;
    }



}