.navbar {
   

    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(139, 102, 182, 1) 96%, rgba(0, 212, 255, 1) 100%);
}

.navbarBrand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
}

.navbarBrand a {
    color: #fff;
}

.navbarBrand span {
    color: #00d4ff;
    margin: 5px;
}

.navbarNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.navItem {
    height: 80px;
}

.navItem a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 768px) {
    .navbar{
        position: fixed;
        width: 100%;
    
    }
}